@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root[theme="light"] {
        --color-bkg: 0deg 0% 100%;
        --color-content: 60deg 6% 19%;
    }
    :root[theme="dark"] {
        --color-bkg: 60deg 6% 19%;
        --color-content: 0deg 0% 100%;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-bkg: 60deg 6% 19%;
            --color-content: 0deg 0% 100%; 
        }
    }
    
    /* html {
        @apply bg-bkg;
    }
     */
    * {
        @apply box-border cursor-none;
    }

    body {
        @apply max-w-3xl mx-auto p-4 bg-bkg;
        @apply text-xl;
    }

    button:hover,
    li:hover {
        @apply bg-content text-bkg transition-colors duration-500 ease-in-out;
    }   
}